<div style="text-align:center">
    <div>
        <h1>Index Components</h1>
        <h3>Total value of available components: {{getTotalValue()}}</h3>
        <div>
            <button (click)="createComp()" type="button" class="btn btn-primary btn-lg"
                style="display: flex-center;">Add
                Component</button>
        </div>
    </div>
</div>

<input type="number" id="MinPrice" placeholder="Enter a price" required name ="minPrice" [(ngModel)]="minPrice" autocomplete="off">
<button (click)="calculateMin()" type="button" class="btn btn-info">Search</button>
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile *ngFor="let comp of calculateMin()">
        {{ comp.name}} - {{comp.price}}
        <button (click)="showComp(comp)" type="button" class="ms-2 btn btn-primary me-2">Show Comp</button>
        <button (click)="deleteComp(comp)" type="button" class="btn btn-danger me-2">Delete Comp</button>
        <button (click)="updateComp(comp)" type="button" class="btn btn-success me-2">Edit Comp</button>
        </mat-grid-tile>
</mat-grid-list>